<div class="main-page-header">
<img src="https://i0.wp.com/www.oliviamaefurnishings.com/wp-content/uploads/2018/09/Pick-Your-Poison-PRODUCT-GALLERY.jpg?fit=2400%2C3000&ssl=1" id="headerimg">
</div>

<div class="container all-drinks">

<div class="row">
  <% @cocktails.each do |cocktail| %>
  <div class="col-3">
    <div class="cocktail-card" 
    <% if cocktail.imgurl.present? %>
 style="background-image: url('<%=cocktail.imgurl%>')" alt="no image"
<% end %>
    >
      <h3> <%= cocktail.name %> </h3>
      <p> <%= link_to 'Show', cocktail %> </p>
    </div>
  </div>
  <% end %>
</div>

</div>
