<div class="container">

<h1 class="text-center">Cocktails</h1>


<div class="row">
  <% @cocktails.each do |cocktail| %>
  <div class="col-3">
    <div class="cocktail-card">
      <h3> <%= cocktail.name %> </h3>
      <p> <%= link_to 'Show', cocktail %> </p>
    </div>
  </div>
  <% end %>
</div>

</div>
