<div class="new-form">
<%= simple_form_for(@cocktail)do |f| %>
  <%= f.input :name %>
  <%= f.input :imgurl, label:"Add image url", hint: "please add jpeg/png" %>
  <%= f.submit "Add Drink", class: "btn btn-primary" %>

<% end %>

</div>