.main-page-header{
  // padding: 200px;
  // background-image: url("https://infatuation.imgix.net/media/images/features/rules-for-making-better-cocktails/banners/1586470902.65.jpg?");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // // width: 100vw;
  // height: 100vh;
  // text-align: center;
}

#headerimg{
  margin: 0 auto;
  width: 100%;
  // display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.header-words {
  position:absolute;
  bottom: 18%;
  left: 35%;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 86px;
  text-shadow: 7px 7px rgb(248, 224, 3);
}

#header-words1{
  position:absolute;
  bottom: 17%;
  left: 33%;
}

#header-words2{
  position:absolute;
  bottom: 34%;
  left: 42%;
  font-size: 120px;
  text-shadow: 10px 10px rgb(248, 224, 3);
}

#header-words3{
  position:absolute;
  bottom: 63%;
  left: 43%;
  font-size: 80px;
}

.all-drinks{
  padding-top: 20px;

}
